/* 
---- estilos de elementos bases y el .APP --  
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  background-color: white;
}

.App {
  width: 100%;
  background: #fcfcfc;
  overflow: hidden;
}

h1, 
h2,
h3 {
  color: white;
}

header {
  background: #3E506B;
  min-height: 60px;
  width: 100;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 2em;
}

header a {
  text-decoration: none;
  color: white; 
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 
---- estilos de layout base --  
 */


 /* ---- Navegación ---- */ 
.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}


/* ---- estilos de contenedores ---- */
.mainContent {
  width: 95%;
  padding: 0 1em;
  margin: 0 auto;
}

.topicCard {
  background: white;
  border-radius: .5em;
  border: solid 3px #0F5E8C;
  flex-grow: 1;
  margin: .35em;
  min-width: 30%;
}


.barraHerramientas {
  background: #E23A59;
  padding: 0 1em;
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}

.topicList {
  /* border: solid 2px red; */
  padding: 0 1em;
  display: flex;
  font-size: 1em;
  flex-wrap: wrap;
}

.topicHeader {
  background-color: #0F5E8C;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #FCC82B;
  font-size: 1.25em;
}

.topicAuthor {
  font-size: .8em;
}

.topicName {
  text-transform: uppercase;
}

.messageList {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.message {
  border-bottom: solid 1px #FCC82B;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.messageAuthor {
  font-size: .7em
}

.messageInputForm {
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.messageInputForm button {
  flex-grow: 1;
  background: #44ADAD;
}

.messageInputForm input {
  flex-grow: 1;
  border: dotted 1px #44ADAD;
}